a {
	@include transition(all $time $ease);

	&,
	&:hover,
	&:focus {
		text-decoration: none;
	}
}

a {
	color: grey;

	&:visited {
		color: grey;
	}
	&:hover,
	&:focus,
	&:active {
		color: black;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	&,
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
