@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Questrial');


body {
	font-family: $base-font;
	font-weight: 400;

	@include font-size($base-fs, $base-fs * 1.5, 0.5px);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Headings
h1,
.h1 {
	@include font-size(40px);
	font-family: $special-font;
	font-weight: bold;
	line-height: 2.7rem;

	@media (max-width: #{$sm}) {
		@include font-size(26px);
	}
}

h2,
.h2 {
	@include font-size(26px, 32px, 0.36px);
	font-family: $special-font;
	line-height: 2.7rem;

	@media (max-width: #{$sm}) {
		@include font-size(20px, 24px, 0.36px);
		line-height: 2.7rem;
	}
}

h3,
.h3 {
	@include font-size(22px, 27px, 0.3px);

	@media (max-width: #{$sm}) {
		@include font-size(18px, 22px, 0.3px);
	}
}

h4,
.h4 {
	@include font-size(20px, 26px);

	@media (max-width: #{$sm}) {
		@include font-size(15px, 20px);
	}
}

h5,
.h5 {
	@include font-size(18px);

	@media (max-width: #{$sm}) {
		@include font-size(15px);
	}
}

small,
.small {
	@include font-size(15px, 20px, 0.28px);
}

// alignments
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

// Modifiers
.text-bold {
	font-weight: 700;
}

.text-semibold {
	font-weight: 600;
}

.text-uppercase {
	text-transform: uppercase;
}

.no-line-height {
	line-height: 1em !important;
}

blockquote {
	margin: 2em -6em;
	text-align: left;
	font-size: 1.5em;
	margin-top: 5em;
	margin-bottom: 5em;
	max-width: 35em;

	@media (max-width: $sm) {
		margin: 0 0;
		background: rgba(0,0,0,0.2);
		padding: .5em;
		font-size: 1em;
	}

	cite {
		display: block;
		margin-top: 1em;
		font-size: .7em;
	}
}
blockquote:before {
  color: black;
  content: '"';
  font-size: 3em;
  line-height: 0.3em;
  margin-right: 0.25em;
  vertical-align: -0.3em;
}
//
// blockquote:after {
// 	content: '';
// 	display: block;
// 	height: 2px;
// 	width: 30px;
// 	background-color: black;
// 	margin: 2em 0;
// }
blockquote p {
  display: inline;
}
