#primary {
  margin-top: 0em;
  padding-top: 6em;

  .entry-title {
    margin-top: 0;
  }

  .entry-content {
    margin-top: 1em;
  }
}

.datum {
  position: absolute;
  margin-top: 1em;
  top: -2em;
}


iframe {
  .vp-player-layout {
    top: 0 !important;
  }
}

.fullsize-img {
  min-width: 120vw;
  margin-left: -50vw;
  margin-top: 5em;
  margin-bottom: 5em;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

  &::after {
    content: '';
    clear: both;
  }
}

.bg-fixed {
  background-attachment: fixed !important;
}
